## This is a "procedural language" extension of PostgreSQL
## allowing the execution of code in Haskell within SQL code.
##
## Copyright (C) 2023 Edward F. Behn, Jr.
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.
Source: plhaskell
Section: Databases
Priority: optional
Maintainer: Ed Behn <ed@behn.us>
Build-Depends: debhelper-compat (= 13), postgresql-server-dev-all, ghc, libghc-hint-dev
Standards-Version: 4.5.1
Homepage: https://github.com/ed-o-saurus/PLHaskell
Rules-Requires-Root: no

Package: plhaskell
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, postgresql, ghc, libghc-hint-dev
Description: A Haskell extension for PostgreSQL that allows embedded Haskell code.
 This project is a "procedural language" extension of PostgreSQL allowing the
 execution of code in Haskell within SQL code. Despite the name, Haskell is, of
 course, not a procedural language as it is a functional language. However,
 "procedural language" is the term that PostgreSQL uses to describe languages
 that can be embedded in its SQL code.
 .
 The extension allows users, even unprivileged ones, to write, install, and run
 functions written in Haskell.
