## This is a "procedural language" extension of PostgreSQL
## allowing the execution of code in Haskell within SQL code.
##
## Copyright (C) 2023 Edward F. Behn, Jr.
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.

module plhaskell 1.1;

require {
	type postgresql_tmp_t;
	type var_lib_nfs_t;
	type postgresql_t;
	type postgresql_db_t;
	class file { execute map };
	class dir search;
}

#============= postgresql_t ==============

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow postgresql_t postgresql_db_t:file map;
allow postgresql_t postgresql_tmp_t:file execute;
allow postgresql_t var_lib_nfs_t:dir search;
